<div class="tab-container">
  <div class="tab-header" role="tablist">
    <button
      *ngFor="let tab of tabs"
      type="button"
      class="tab-item"
      role="tab"
      [attr.aria-selected]="tab === activeTab"
      [class.active]="tab === activeTab"
      (click)="selectTab(tab)">
      {{ tab.title }}
    </button>
  </div>

  <div class="tab-content" [ngClass]="contentClass" *ngIf="activeTab as tab" [class.prevent-overflow]="preventOverflow">
    <ng-container *ngIf="tab.content as content">
      <ng-container *ngIf="isTemplateRef(content); else textContent" [ngTemplateOutlet]="content"></ng-container>
      <ng-template #textContent>{{ content }}</ng-template>
    </ng-container>
  </div>
</div>
