<div class="d-flex flex-column dialog-overlay bg-body-secondary">
  <div class="d-flex flex-column dialog-content">
    <div class="d-flex justify-content-between align-items-center p-3 pt-2 pb-1">
      <h2 class=""><i class="bi-box-arrow-in-right pe-3 icon-sm"></i>{{ node.title() }}</h2>
      <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
    <div class="tab-shell">
      <app-tab [tabs]="tabs" [(activeTabId)]="activeTabId"></app-tab>
    </div>
    <ng-template #detailsTab>
      <div class="p-3 details">
        <div class="mb-3 title">
          <label for="workflow-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="workflow-title" [ngModel]="node.title()" (ngModelChange)="node.title.set($event)"/>
        </div>
      </div>
    </ng-template>

    <ng-template #inputsTab>
      <div class="bg-body-tertiary p-3">
        <app-context-viewer [contexts]="inputTraces"></app-context-viewer>
      </div>
    </ng-template>
    <ng-template #outputsTab>
      <div class="bg-body-tertiary p-3">
        <app-context-viewer [contexts]="outputTraces"></app-context-viewer>
      </div>
    </ng-template>    
  </div>
</div>         