:host {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-column {
    width: 170px;
    border-right: 1px solid var(--bs-border-color);

    .dropdown {
        a {
            padding: 0;
            width: 100%;
        }
    }
}

.left-column.closed {
    width: 80px;

    h2 {
      color: transparent;
    }

    .nav-link {
        justify-content: center;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        padding: 0.5rem !important;

        a {
            padding: 0.5rem !important;
            justify-content: center;
            width: auto;
        }
    }
}

.right-column {
    min-width: 0;
}

.productName {
    font-size: 15px;
    padding-top: 8px;
}

.toast-container {
    z-index: 1080;
}
