<div class="container-fluid p-0">
  <div class="d-flex justify-content-between align-items-center p-3 pt-2 pb-1 bg-body-secondary">
    <h2 class=""><i class="bi bi-plug pe-3 icon-sm"></i>Connectors ({{ connections.length }})</h2>
        <button class="btn btn-primary" (click)="newConnection()">New</button>
  </div>
  <hr class="m-0"/>
  <div class="d-flex flex-wrap gap-3 p-3">
    @for (connection of connections; track connection.connectionId) {
      <div class="card workflow-card">
        <div class="card-header">
          <h5>{{ connection.name }}</h5>
        </div>
        <div class="card-body">
          <button class="btn btn-primary" [routerLink]="['/connections', connection.connectionId]">Open</button>
          <button class="btn btn-primary ms-2" (click)="deleteConnection(connection)">Delete</button>
        </div>
      </div>
    }    
  </div>
</div>
