@for (field of fields; track field.name) {
  @if (shouldShowField(field)) {
    <div class="mb-3 form-line">
      @if (field.type === fieldDescriptorType.String || field.type === fieldDescriptorType.Secret) {
        <label class="form-label field-label">{{ field.label }}</label>
        <div class="flex-fill control-column long">
          <input
            [type]="field.type === fieldDescriptorType.Secret ? 'password' : 'text'"
            class="form-control w-100"
            [disabled]="disabled"
            [class.is-invalid]="isFieldMissing(field)"
            [ngModel]="getStringValue(field)"
            (ngModelChange)="onStringChange(field, $event)"
            (blur)="onStringBlur(field, $any($event.target).value)"/>
          <div class="invalid-feedback">This field is required.</div>
        </div>
      }

      @if (field.type === fieldDescriptorType.Boolean) {
        <label class="form-label field-label">{{ field.label }}</label>
        <div class="flex-fill control-column long">
          <div class="form-check mb-0">
            <input
              class="form-check-input"
              type="checkbox"
              [disabled]="disabled"
              [checked]="getBooleanValue(field)"
              (change)="onBooleanChange(field, $any($event.target).checked)">
          </div>
        </div>
      }

      @if (field.type === fieldDescriptorType.Enum) {
        <label class="form-label field-label">{{ field.label }}</label>
        <div class="flex-fill control-column short">
          <select
            class="form-select w-100"
            [disabled]="disabled"
            [ngModel]="getStringValue(field)"
            (ngModelChange)="onStringChange(field, $event)">
            @for(option of field.enumOptions ?? []; track option) {
              <option [ngValue]="option">{{ option }}</option>
            }
          </select>
        </div>
      }

      @if (field.type === fieldDescriptorType.Integer || field.type === fieldDescriptorType.Double) {
        <label class="form-label field-label">{{ field.label }}</label>
        <div class="flex-fill control-column tiny">
          <input
            type="number"
            class="form-control w-100"
            [disabled]="disabled"
            [class.is-invalid]="isFieldMissing(field)"
            [attr.step]="field.step ?? (field.type === fieldDescriptorType.Integer ? 1 : 'any')"
            [ngModel]="getNumericValue(field)"
            (ngModelChange)="onNumericChange(field, $event)"
            (blur)="onNumericBlur(field, $any($event.target).value)"/>
          <div class="invalid-feedback">This field is required.</div>
        </div>
      }
    </div>
  }
}
