:host {
  display: block;
  width: 100%;
  height: 100%;
}

.settings-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.icon-sm {
  font-size: 1.5rem;
}

.details {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  .server {
    max-width: 700px;
  }
}
