<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="close()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label class="form-label">{{ label }}</label>
  <input
    #valueInput
    type="text"
    class="form-control"
    [value]="value"
    [placeholder]="placeholder"
    (input)="onValueChange($event)"
    (keyup.enter)="confirm()"
  />
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
  <button
    type="button"
    class="btn btn-primary"
    [disabled]="!canConfirm()"
    (click)="confirm()"
  >
    {{ confirmText }}
  </button>
</div>
