<div class="container-fluid p-0 settings-page">
  <div class="d-flex justify-content-between align-items-center p-3 pt-2 pb-1 bg-body-secondary">
    <h2><i class="bi bi-activity pe-3 icon-sm"></i>Settings</h2>
  </div>
  <hr class="m-0"/>
  <div class="p-3 details">
    <div class="mb-3 server form-line">
      <label for="server-url" class="form-label field-label">Server</label>
      <div class="flex-fill control-column">
        <input type="text"
               class="form-control w-100"
               id="server-url"
               [(ngModel)]="apiUrlValue"
               (ngModelChange)="onApiUrlChange($event)"
               placeholder="API base URL"/>
      </div>
    </div>
  </div>
</div>
