<div class="d-flex flex-column dialog-overlay bg-body-secondary">
  <div class="d-flex flex-column dialog-content">
    <div class="d-flex justify-content-between align-items-center p-3 pt-2 pb-1">
      <h2 class=""><i class="bi bi-chat-text pe-3 icon-sm"></i>{{ node.title() }}</h2>
      <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>

    <div class="tab-shell">
      <app-tab [tabs]="tabs" [(activeTabId)]="activeTabId"></app-tab>
    </div>

    <ng-template #detailsTab>
      <div class="p-3 details">
        <div class="mb-3 form-line title">
          <label for="model-call-title" class="form-label field-label">Title</label>
          <div class="flex-fill control-column">
            <input type="text" class="form-control w-100" id="model-call-title" [ngModel]="node.title()" (ngModelChange)="node.title.set($event)"/>
          </div>
        </div>

        <div class="mb-3 short form-line">
          <label for="model-call-model" class="form-label field-label">Model</label>
          <div class="flex-fill control-column">
            <select
              id="model-call-model"
              class="form-select w-100"
              [ngModel]="selectedModelId"
              (ngModelChange)="onModelSelectionChange($event)"
              [disabled]="!availableModels.length">
              <option [ngValue]="null"></option>
              @for (model of availableModels; track model.modelId) {
                <option [ngValue]="model.modelId">
                  {{ model.name }}
                </option>
              }
            </select>
          </div>
        </div>

        @if (showTextFields) {
          <div class="mb-3 short form-line">
            <label for="model-call-text-output" class="form-label field-label">Text Output Path</label>
            <div class="flex-fill control-column">
              <input
                type="text"
                class="form-control w-100"
                id="model-call-text-output"
                [ngModel]="node.textOutputPath()"
                (ngModelChange)="node.textOutputPath.set($event)" />
            </div>
          </div>

          <div class="mb-3 long form-line align-top">
            <label for="model-call-instructions" class="form-label field-label">Instructions</label>
            <div class="flex-fill control-column">
              <textarea class="form-control w-100" id="model-call-instructions" rows="8" [ngModel]="node.instructions()" (ngModelChange)="node.instructions.set($event)"></textarea>
            </div>
          </div>

          <div class="mb-3 long form-line align-top">
            <label for="model-call-prompt" class="form-label field-label">Prompt</label>
            <div class="flex-fill control-column">
              <textarea class="form-control w-100" id="model-call-prompt" rows="16" [ngModel]="node.prompt()" (ngModelChange)="node.prompt.set($event)"></textarea>
            </div>
          </div>
        }
      </div>
    </ng-template>
    <ng-template #inputsTab>
      <div class="bg-body-tertiary p-3">
        <app-context-viewer [contexts]="inputTraces"></app-context-viewer>
      </div>
    </ng-template>
    <ng-template #outputsTab>
      <div class="bg-body-tertiary p-3">
        <app-context-viewer [contexts]="outputTraces"></app-context-viewer>
      </div>
    </ng-template>
  </div>
</div>
