:host {
  display: block;
  width: 100%;
  height: 100%;
}

.workflows-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.workflows-list {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  align-content: flex-start;
}

.workflow-card {
  width: 300px;
}

.icon-sm {
  font-size: 1.5rem;
}
