<div class="d-flex flex-column dialog-overlay bg-body-secondary">
  <div class="d-flex flex-column dialog-content">
    <div class="d-flex justify-content-between align-items-center p-3 pt-2 pb-1">
      <h2 class=""><i class="bi bi-option pe-3 icon-sm"></i>{{ node.title() }}</h2>
          <button class="btn btn-primary" (click)="onClose()">Close</button>
    </div>
    <div class="tab-shell">
      <app-tab [tabs]="tabs" [(activeTabId)]="activeTabId"></app-tab>
    </div>
    <ng-template #detailsTab>
      <div class="p-3 details">
        <div class="mb-3 title">
          <label for="workflow-title" class="form-label">Title</label>
          <input type="text" class="form-control" id="workflow-title" [ngModel]="node.title()" (ngModelChange)="node.title.set($event)"/>
        </div>

        <hr/>

        <div class="mb-3">
          <h4 class="form-label mb-4">Switching</h4>
          <div class="d-flex align-items-start gap-2 mb-2">
            <label class="editName">Name</label>
            <label class="editCode">Code</label>
          </div>
          @for (entry of node.switches(); track entry.id) {
            <div class="d-flex align-items-start gap-2 mb-2">
              <input type="text" class="form-control editName" [ngModel]="entry.name()" (ngModelChange)="entry.name.set($event)"/>
              @if (node.switches().indexOf(entry) < (node.switches().length - 1)) {
                <div class="editCode">
                  <ngx-monaco-editor class="editExpression" [options]="editorOptions" [ngModel]="entry.code()" (ngModelChange)="entry.code.set($event)"/>
                </div>
              } @else {
                <div class="editCode">
                  <input type="text" disabled class="form-control" value="(Last switch is not optional)"/>
                </div>
              }
              <button class="btn btn-outline-primary"
                      [disabled]="!((node.switches().indexOf(entry) > 0) && (node.switches().indexOf(entry) < (node.switches().length - 1)))"
                      (click)="onUpSwitch(entry.id)"><i class="bi bi-arrow-up"></i></button>
              <button class="btn btn-outline-primary"
                      [disabled]="!((node.switches().length > 2) && (node.switches().indexOf(entry) < (node.switches().length - 2)))"
                      (click)="onDownSwitch(entry.id)"><i class="bi bi-arrow-down"></i></button>
              <button class="btn btn-outline-danger"
                      [disabled]="!((node.switches().length > 2) && (node.switches().indexOf(entry) < (node.switches().length - 1)))"
                      (click)="onDeleteSwitch(entry.id)"><i class="bi bi-trash"></i></button>
            </div>
          }
          <button class="btn btn-primary mt-2" (click)="onAddSwitch()">Add</button>
        </div>
      </div>
    </ng-template>
    <ng-template #inputsTab>
      <div class="bg-body-tertiary p-3">
        <app-context-viewer [contexts]="inputTraces"></app-context-viewer>
      </div>
    </ng-template>
    <ng-template #outputsTab>
      <div class="bg-body-tertiary p-3">
        <app-context-viewer [contexts]="outputTraces"></app-context-viewer>
      </div>
    </ng-template>    
  </div>
</div>
