:host {
  display: block;
  width: 100%;
  height: 100%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.icon-sm {
  font-size: 1.5rem;
}

.details {
  .server {
    max-width: 700px;
  }
}
