:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  z-index: 1000;
}

.dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.dialog-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.details {
  .title {
    min-width: 350px;
    width: 350px;
  }
}

.editPath {
  min-width: 300px;
  max-width: 300px;
  width: 300px;
}

.editType {
  min-width: 140px;
  max-width: 140px;
  width: 140px;
}

.editValue {
  min-width: 300px;
  max-width: 900px;
  width: 100%;
}

.editJson {
  height: 160px;
}

.editExpression {
  height: 100px;
}

.editBoolValue {
  width: 100px;
  flex: 0 0 auto;
}

.tab-shell {
  flex: 1 1 auto;
  min-height: 0;
  display: flex;
}
