:host {
  display: block;
  height: 100%;
}

.trace-viewer {
  height: 100%;
}

.trace-line {
  margin: 4px;
}

.trace-symbol {
  padding: 1px 6px;
  font-size: 17px;
}

.trace-thread {
  padding: 1px 6px;
  display: inline-block;
  text-align: right;
  width: 18px;
}

.trace-title {
  padding: 1px 6px;
  display: inline-block;
  width: 150px;
}

.trace-message {
  display: inline-block;
}

.trace-text {
  padding: 2px 6px;
  border-radius: 4px;

  &.running {
    color: black;
    background-color: #FF8654;
  }

  &.success {
    color: white;
    background-color: #198754;
  }

  &.failed {
    color: white;
    background-color: #FF5454;
  }
}

.trace-meta {
  padding: 1px 6px;
  font-size: 12px;
  color: #6c757d;
}

.trace-meta-sep {
  margin: 0 6px;
}
