:host {
  display: block;
  height: 100%;
}

.trace-viewer {
  height: 100%;
}

.trace-line {
  margin: 4px;
  align-items: center;
}

.trace-symbol {
  padding: 1px 6px;
  font-size: 17px;
}

.trace-toggle {
  display: inline-flex;
  align-items: center;
  width: 16px;
}

.trace-toggle-spacer {
  display: inline-block;
  width: 16px;
}

.trace-thread {
  padding: 1px 6px;
  font-size: 12px;
  color: #6c757d;
  text-align: right;
  min-width: 24px;
}

.trace-title {
  padding: 1px 6px;
  display: inline-block;
  width: 150px;
}

.trace-message {
  display: inline-block;
}

.trace-text {
  padding: 2px 6px;
  border-radius: 4px;

  &.running {
    color: black;
    background-color: #ff8654;
  }

  &.success {
    color: white;
    background-color: #198754;
  }

  &.failed {
    color: white;
    background-color: #ff5454;
  }
}
