:host {
  display: block;
  height: 100%;
}

.icon-sm {
  font-size: 1.5rem;
}

.name {
  max-width: 350px;
  width: 350px;
}

.type {
  max-width: 350px;
  width: 350px;
}

.authMode {
  max-width: 500px;
  width: 45500px0px;
}

.authField {
  max-width: 500px;
  width: 500px;  
}

