:host {
  display: block;
  height: 100%;
}

.icon-sm {
  font-size: 1.5rem;
}

.name {
  max-width: 350px;
  width: 350px;
}

.description {
  max-width: 700px;
  width: 700px;
}

.type {
  max-width: 350px;
  width: 350px;
}

.authMode {
  max-width: 350px;
  width: 350px;
}

