:host {
  display: block;
  height: 100%;
}

.icon-sm {
  font-size: 1.5rem;
}

.tiny {
  max-width: 200px;
  width: 200px;
}

.short {
  max-width: 350px;
  width: 350px;
}

.long {
  max-width: 500px;
  width: 500px;
}


