:host {
  display: block;
  height: 100%;
}

.connection-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;
}

.icon-sm {
  font-size: 1.5rem;
}

.details {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.tiny {
  max-width: 200px;
  width: 200px;
}

.short {
  max-width: 350px;
  width: 350px;
}

.long {
  max-width: 500px;
  width: 500px;
}

