<div class="container-fluid p-0">
  <div class="d-flex justify-content-between align-items-center p-3 pt-2 pb-1 bg-body-secondary">
    <h2 class=""><i class="bi bi-plug pe-3 icon-sm"></i>{{ connection.name() }}</h2>
    <button class="btn btn-primary" [disabled]="!connection.isDirty()"
          (click)="save()">Save</button>
  </div>

  <hr class="m-0"/>
  
  <div class="p-3 details bg-body-tertiary">
    <div class="mb-3 short">
      <label for="connection-type" class="form-label">Type</label>
      <select
        id="connection-type"
        class="form-select"
        [ngModel]="connection.configId()"
        (ngModelChange)="onConnectionConfigChange($event)"
        [disabled]="!connectionConfigs().length">
        @for(config of connectionConfigs(); track config.configId) {
        <option [ngValue]="config.configId">
          {{ config.displayName }}
        </option>
        }
      </select>
    </div>
    @if (connectionConfig) {
      <div class="mb-3 short">
        <label for="connection-name" class="form-label">Name</label>
        <input type="text" class="form-control" id="connection-name" [ngModel]="connection.name()"
            (ngModelChange)="connection.name.set($event)" />
      </div>  
      <div class="mb-3 long">
        <label for="connection-description" class="form-label">Description</label>
        <input type="text" class="form-control" id="connection-description" [ngModel]="connection.description()"
            (ngModelChange)="connection.description.set($event)" />
      </div>      
      <div class="mb-3 long">
        <label for="authentication-mode" class="form-label">Authentication Method</label>
        <select
          id="authentication-mode"
          class="form-select"
          [ngModel]="connection.authenticationModeId()"
          (ngModelChange)="connection.authenticationModeId.set($event)"
          [disabled]="!connectionConfig.authModes.length">
          @for(mode of connectionConfig.authModes; track mode.id) {
          <option [ngValue]="mode.id">
            {{ mode.displayName }}
          </option>
          }
        </select>
      </div>
      @for (field of selectedAuthMode?.fields; track field.name) {      
      <div class="mb-3" [ngClass]="{
        'long': field.type !== fieldDescriptorType.Integer && field.type !== fieldDescriptorType.Double,
        'tiny': field.type === fieldDescriptorType.Integer || field.type === fieldDescriptorType.Double
      }">
        @if (field.type === fieldDescriptorType.String || field.type === fieldDescriptorType.Secret) {
        <label class="form-label">{{ field.label }} @if (!field.isRequired) {(Optional)} </label>
        <input
          [type]="field.type === fieldDescriptorType.Secret ? 'password' : 'text'"
          class="form-control"
          [ngModel]="getFieldValue(field)"
          (ngModelChange)="onFieldValueChange(field, $event)"
          (blur)="onFieldStringBlur(field, $any($event.target).value)"/>
        }

        @if (field.type === fieldDescriptorType.Boolean) {
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [checked]="getFieldBooleanValue(field)"
            (change)="onFieldBooleanChange(field, $any($event.target).checked)">
          <label class="form-check-label">
            {{ field.label }} @if (!field.isRequired) {(Optional)}
          </label>
        </div>
        }

        @if (field.type === fieldDescriptorType.Enum) {
        <label class="form-label">{{ field.label }} @if (!field.isRequired) {(Optional)} </label>
        <select
          class="form-select"
          [ngModel]="getFieldValue(field)"
          (ngModelChange)="onFieldValueChange(field, $event)">
          @for(option of field.enumOptions; track option) {
            <option [ngValue]="option">{{ option }}</option>
          }
        </select>
        }

        @if (field.type === fieldDescriptorType.Integer || field.type === fieldDescriptorType.Double) {
        <label class="form-label">{{ field.label }} @if (!field.isRequired) {(Optional)} </label>
        <input
          type="number"
          class="form-control"
          [attr.step]="field.step ?? (field.type === fieldDescriptorType.Integer ? 1 : 'any')"
          [ngModel]="getFieldNumericValue(field)"
          (ngModelChange)="onFieldNumericChange(field, $event)"
          (blur)="onFieldNumericBlur(field, $any($event.target).value)"/>
        }
      </div>
      }
    }
  </div>
</div>
